<div class="col-md-offset-1 col-md-10">
  <div class="thumbnail">
    <p class="show-message">
      <%= comment.body %>
    </p>
    <br/>
    <p class="show-author">
      <%= comment.commenter %>
    </p>
    <%= link_to 'Destroy Comment', [comment.post, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>

</div>
