<div class="col-md-offset-1 col-md-10">
  <div class="thumbnail">
    <p class="show-message">
      <%= comment.body %>
    </p>
    <br/>
    <p class="show-author">
      <%= comment.commenter %>
    </p>
  </div>
</div>
